<v-card>
  <v-card v-if="loggedOut">
    <GirderAuthentication register :oauth=true :key="girderRest.token" />
  </v-card>
  <v-card>
    <GirderFileManager
    :root-location-disabled="false"
    :selectable="true"
    v-model="selected"
    />
  </v-card>
  <v-app-bar>
    <!--<v-btn class ="mt-4" @click="changeServer=!changeServer">
       Change Server
    </v-btn> -->
    <v-spacer />
    <v-btn class="mt-4" @click="load()" :disabled="!selected.length">
       Open
    </v-btn>
    <v-btn class="mt-4" @click="$emit('close')">
       Cancel
    </v-btn>
  </v-app-bar>
  <div :class="$style.close">
    <v-btn text icon @click="$emit('close')">
      <v-icon>mdi-close</v-icon>
    </v-btn>
  </div>
</v-card>
