<v-expansion-panels>
  <v-expansion-panel>
    <v-expansion-panel-header class="body-2">
      Measurements
    </v-expansion-panel-header>
    <v-expansion-panel-content>
      <measurement-tools
        :enabled="enabledTool === 'measurement'"
        @enable="setEnabledTool('measurement', $event)"
      />
    </v-expansion-panel-content>
  </v-expansion-panel>
  <v-expansion-panel>
    <v-expansion-panel-header class="body-2">
      Painting
    </v-expansion-panel-header>
    <v-expansion-panel-content>
      <paint-tool
        :enabled="enabledTool === 'paint'"
        @enable="setEnabledTool('paint', $event)"
      />
    </v-expansion-panel-content>
  </v-expansion-panel>
  <v-expansion-panel>
    <v-expansion-panel-header class="body-2">
      Cropping
    </v-expansion-panel-header>
    <v-expansion-panel-content>
      <crop-tool
        :enabled="enabledTool === 'crop'"
        @enable="setEnabledTool('crop', $event)"
      />
    </v-expansion-panel-content>
  </v-expansion-panel>
</v-expansion-panels>
